<!-- <h2>Registration Form</h2> -->

    <h1 class="flex justify-content-center">Registration Form</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
        <!-- Render formly forms -->
        <formly-form [form]="form" [fields]="fieldsS" [model]="model" [options]="options"></formly-form>
    
        <!-- Submit and Reset Button -->
        <div class="text-center mt-3">
            <p-button type="submit">Submit</p-button>
            <p-button type="button" class="btn ml-2" severity="secondary" (click)="reset()">
                Reset
            </p-button>
        </div>
    </form>